<h1>All orders</h1>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Customer</th>
        <th scope="col">Date</th>
        <th scope="col">Items</th>
        <th scope="col">Price</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
        <th scope="col">Expected delivery date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders$ | async;let i = index">
        <th scope="row">{{i+1}}</th>
        <td><span style="font-weight: 500">{{order.shippingName}}</span></td>
        <td>{{toDate(order.datePlaced).toDateString()}}</td>
        <td>
          <div *ngFor="let item of order.items">{{item.productTitle}} x{{item.quantity}}</div>
        </td>
        <td>{{calculateTotalPrice(order.items)}}$</td>
        <td>{{order.status}}</td>
        <td><button *ngIf="order.status && order.status !== 'DELIVERED'" class="btn btn-primary btn-sm" (click)="editOrder(order.id)">Mark as {{getNextStatusString(order.status)}}</button> </td>
        <td>{{order.expectedDate}}</td>
      </tr>
    </tbody>
  </table>
